{% extends 'base.html' %}

{% load bootstrap %}

{% block content %}

<style>
  .dismiss {
	width: 35px;
	height: 35px; 
	position: absolute; 
	top: 5px;
	right: 2px;
	transition: all .3s; 
	border-radius: 4px; 
	text-align: center; 
	line-height: 35px; 
	cursor: pointer;
}

.dismiss:hover, .dismiss:focus { 
	background: rgb(238, 54, 198); 
	color: #fff; 
}

.dismiss:before,
.dismiss:after {
  content: '';
  width: 55%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  top: 48%;
  left: 22%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.dismiss:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.dismiss:hover:before,
.dismiss:hover:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
</style>

    <div class=" row justify-content-center">
      <div class="col-11">
    <div class="card text-center bg-transparent" style="width: 30rem;">
      <a href="{% url 'auth:login' %}" class="dismiss">
      </a>
      <div class="card-body ">
        <h1 class="card-title text-light">Reset Password</h1>
        <form method="post" class="text-light">
            {% csrf_token %}
            {{ form | bootstrap }}
            <span class="btn-group"><i class="fas fa-paper-plane"></i></span>
            <i><button type="submit" class="btn btn-primary d-grid gap-2 col-4 mx-auto" style="border-radius: 20px; font-style: normal; text-indent: 4%;">Send</button></i>
        </form>
      </div>
    </div>
  </div>
  </div>

  </div>

{% endblock %}