{% extends 'base.html' %}

{% load bootstrap %}

{% block content %}
<div class="global-container bg-dark">
  <br><br><br><br><br>
  <div class=" row justify-content-center">
    <div class="col-4">
  <div class="card text-center bg-transparent" style="width: 30rem;">
    <div class="card-body ">
      <h1 class="card-title text-light">Reset Password</h1>
      <h5 class="card-text text-light">Enter your new password</h5>
      <form class="form" action="" method="POST" enctype="multipart/form-data">
        <div class="text-light">
        {% csrf_token %}
        {{ form | bootstrap }}
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
      </form>  
    </div>
  </div>
</div>
</div>
<br><br><br><br><br><br>
<p class="text-center text-secondary">code@GPG 2021</p>
</div>
</div>
{% endblock %} 
