{% extends 'base.html' %}

{% block content %}
  <div class=" row justify-content-center">
    <div class="col-4">
  <div class="card text-center bg-transparent" style="width: 30rem;">
    <div class="card-body ">
      <h1 class="card-title text-light">Reset Password</h1>
      <h5 class="card-text text-light">We have sent you reset password link on your email. Please Check Your Email.</h5>
      <div class="button">
      <a href="https://mail.google.com/mail/u/id" class="btn mt-2 text-light d-grid gap-2 col-8 mx-auto" style="border-radius: 25px; 
       background: linear-gradient(-135deg, #21a34c, #9b59b6);
       transform: scale(0.9);
       "><h4>Go to mail</h4></a>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</div>
{% endblock %} 

